doctype html
html
  head
    title Karate World
    block scripts
    block style
  body
    nav#navbar 
        ul
            div#logo
                img(src="/static/img/1.png")
                | 太极拳 
            li #[a(href = "/") Home ]
            li #[a(href = "/") About ]
            li #[a(href = "/") Services ]
            li #[a(href = "/") Class Info ]
            li #[a(href = "/contact") Contact Us ]
    block content
      
    footer#footer
        | Copyright &copy 2021 The Karate World | All rights reserved
  