doctype html
html
  head
    title Karate World
    style
      include ../static/styles.css
  body
    nav#navbar 
        ul
            div#logo
                img(src="/static/img/1.png")
                | 太极拳 
            li #[a(href = "/") Home ]
            li #[a(href = "/") About ]
            li #[a(href = "/") Services ]
            li #[a(href = "/") Class Info ]
            li #[a(href = "/") Contact Us ]
    section#introSection
        div Welcome to Karate World
        div.small Clear your mind !  ... Peace In..

    section#MissionSection 
        h2 Our Mission
        div.cardcontainer
            div.card
                h3  Shàolín gōngfu
                div.card-box
                    div.card-img
                        img(src="/static/img/2.jpg")
                    div.card-content
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, similique.
            div.card
                h3  Tàijí quán. Tai Chi Quan
                div.card-box
                    div.card-img
                        img(src="/static/img/3.jfif")
                    div.card-content
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, similique.
            div.card
                h3  Zuì quán. Drunken Master
                div.card-box
                    div.card-img
                        img(src="/static/img/4.png")
                    div.card-content
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, similique.
            
    section#SponsorsSection 
        h2 Our Sponsors 
        div#sponsors
            img(src="/static/img/logo1.png", alt="Sponsor Image", class="spImage")
            img(src="/static/img/logo2.png", alt="Sponsor Image", class="spImage")
            img(src="/static/img/logo3.png", alt="Sponsor Image", class="spImage")
            img(src="/static/img/logo4.png", alt="Sponsor Image", class="spImage")
    footer#footer
        | Copyright &copy 2021 The Karate World | All rights reserved
    
    script
      include ../static/index.js    